.welcome {
  margin-top: 100px;
  &__container {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__image {
    width: 100px;
  }
  &__text {
    margin-top: 10px;
    font-size: 30px;
  }
}
