.main{

    &__affirmation{
        margin-top: 30px;
        margin-left: 10px;
        padding: 10px;
        border: 3px solid #fff;
        border-radius: 5px;
        width: fit-content;
        height: fit-content;
    }
   
}